
.body { margin: 0; padding: 0;}
.header {  background-color: black;}
.container { margin: auto; width: 980px; }
.container-left { padding: 20px 20px;}
.logo { float: left;}
.logo img { display: block;}
.align_left { float: left;}
.menu { float: left;}
.menu-item {display: inline-block; font-size: 16px; color: white;}

.container2 { width: 980px;}
.menu2 { margin-bottom: -20px;}
.menu2 img {float: right; width: 30px; height: 30px; }
.clearfix::after { content: ""; display: block; clear: both;}