
.body { margin: 0; padding: 0;}
.header {  background: linear-gradient(to right, #042e6c, #040d21, #05285f);}
.container { margin: auto; width: 980px; }
.container-left { padding: 20px 20px;}
.logo { float: left;}
.logo img { display: block;}
.menu { float: left;}
.menu-item {display: inline-block; font-size: 16px; color: white;}

.container2 { width: 980px;}
.container-right { }
.menu2 {float: right;}
a { font-size: 16px; color: white; text-decoration: none;}
.box { display: inline-block; width: 80px; height: 30px; border: 1px solid white; border-radius: 5px; text-align: center; line-height: 30px;}
.clearfix::after { content: ""; display: block; clear: both;}